<a href="https://colab.research.google.com/github/IkhlasAhmad1998/DeepLearning_Assignments/blob/main/Ionosphere_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment: Ionosphere Data Problem

### Dataset Description: 

This radar data was collected by a system in Goose Bay, Labrador. This system consists of a phased array of 16 high-frequency antennas with a total transmitted power on the order of 6.4 kilowatts. See the paper for more details. The targets were free electrons in the ionosphere. "Good" radar returns are those showing evidence of some type of structure in the ionosphere. "Bad" returns are those that do not; their signals pass through the ionosphere.

Received signals were processed using an autocorrelation function whose arguments are the time of a pulse and the pulse number. There were 17 pulse numbers for the Goose Bay system. Instances in this databse are described by 2 attributes per pulse number, corresponding to the complex values returned by the function resulting from the complex electromagnetic signal.

### Attribute Information:

- All 34 are continuous
- The 35th attribute is either "good" or "bad" according to the definition summarized above. This is a binary classification task.

 <br><br>

<table border="1"  cellpadding="6">
	<tbody>
        <tr>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Data Set Characteristics:&nbsp;&nbsp;</b></p></td>
		<td><p class="normal">Multivariate</p></td>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Number of Instances:</b></p></td>
		<td><p class="normal">351</p></td>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Area:</b></p></td>
		<td><p class="normal">Physical</p></td>
        </tr>
     </tbody>
    </table>
<table border="1" cellpadding="6">
    <tbody>
        <tr>
            <td bgcolor="#DDEEFF"><p class="normal"><b>Attribute Characteristics:</b></p></td>
            <td><p class="normal">Integer,Real</p></td>
            <td bgcolor="#DDEEFF"><p class="normal"><b>Number of Attributes:</b></p></td>
            <td><p class="normal">34</p></td>
            <td bgcolor="#DDEEFF"><p class="normal"><b>Date Donated</b></p></td>
            <td><p class="normal">N/A</p></td>
        </tr>
     </tbody>
    </table>
<table border="1" cellpadding="6">	
    <tbody>
    <tr>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Associated Tasks:</b></p></td>
		<td><p class="normal">Classification</p></td>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Missing Values?</b></p></td>
		<td><p class="normal">N/A</p></td>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Number of Web Hits:</b></p></td>
		<td><p class="normal">N/A</p></td>
	</tr>
    </tbody>
    </table>

### WORKFLOW :
- Load Data
- Check Missing Values ( If Exist ; Fill each record with mean of its feature ) or any usless column.
- Shuffle the data if needed.
- Standardized the Input Variables. **Hint**: Centeralized the data
- Split into 60 and 40 ratio.
- Encode labels.
- Model : 1 hidden layers including 16 unit.
- Compilation Step (Note : Its a Binary problem , select loss , metrics according to it)
- Train the Model with Epochs (100).
- If the model gets overfit tune your model by changing the units , No. of layers , epochs , add dropout layer or add Regularizer according to the need .
- Prediction should be > **92%**
- Evaluation Step
- Prediction

# Load Data:
[Click Here to Download DataSet](https://github.com/ramsha275/ML_Datasets/blob/main/ionosphere_data.csv)

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/ramsha275/ML_Datasets/main/ionosphere_data.csv')

In [3]:
data.head()

   feature1  feature2  feature3  ...  feature33  feature34  label
0         1         0   0.99539  ...    0.18641   -0.45300      g
1         1         0   1.00000  ...   -0.13738   -0.02447      b
2         1         0   1.00000  ...    0.56045   -0.38238      g
3         1         0   1.00000  ...   -0.32382    1.00000      b
4         1         0   1.00000  ...   -0.04608   -0.65697      g

[5 rows x 35 columns]

In [4]:
data.drop('feature2', axis=1, inplace=True)

In [5]:
data.isnull().any()

feature1     False
feature3     False
feature4     False
feature5     False
feature6     False
feature7     False
feature8     False
feature9     False
feature10    False
feature11    False
feature12    False
feature13    False
feature14    False
feature15    False
feature16    False
feature17    False
feature18    False
feature19    False
feature20    False
feature21    False
feature22    False
feature23    False
feature24    False
feature25    False
feature26    False
feature27    False
feature28    False
feature29    False
feature30    False
feature31    False
feature32    False
feature33    False
feature34    False
label        False
dtype: bool

In [6]:
data.label

0      g
1      b
2      g
3      b
4      g
      ..
346    g
347    g
348    g
349    g
350    g
Name: label, Length: 351, dtype: object

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 34 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   feature1   351 non-null    int64
 1   feature3   351 non-null    float64
 2   feature4   351 non-null    float64
 3   feature5   351 non-null    float64
 4   feature6   351 non-null    float64
 5   feature7   351 non-null    float64
 6   feature8   351 non-null    float64
 7   feature9   351 non-null    float64
 8   feature10  351 non-null    float64
 9   feature11  351 non-null    float64
 10  feature12  351 non-null    float64
 11  feature13  351 non-null    float64
 12  feature14  351 non-null    float64
 13  feature15  351 non-null    float64
 14  feature16  351 non-null    float64
 15  feature17  351 non-null    float64
 16  feature18  351 non-null    float64
 17  feature19  351 non-null    float64
 18  feature20  351 non-null    float64
 19  feature21  351 non-null    float64
 20  feature22  351 non-null    float64
 21  feature23  351 non-null    float64
 22  feature24  351 non-null    float64
 23  feature25  351 non-null    float64
 24  feature26  351 non-null    float64
 25  feature27  351 non-null    float64
 26  feature28  351 non-null    float64
 27  feature29  351 non-null    float64
 28  feature30  351 non-null    float64
 29  feature31  351 non-null    float64
 30  feature32  351 non-null    float64
 31  feature33  351 non-null    float64
 32  feature34  351 non-null    float64
 33  label      351 non-null    object
dtypes: float64(32), int64(1), object(1)
memory usage: 93.4+ KB

In [8]:
labels = data.iloc[:,-1]
data.drop('label', axis=1, inplace=True)

In [9]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
# labels = labels.map({'g':1, 'b': 0})
# labels = np.asarray(labels).astype('float32')

labels = labelencoder.fit_transform(labels)

In [10]:
from sklearn.model_selection import train_test_split

train_data, test_data, train_labels, test_labels = train_test_split(data, labels, test_size=0.4, random_state=42)

In [11]:
mean = train_data.mean(axis=0)
std = train_data.std(axis=0)

train_data = (train_data-mean) / std
test_data = (test_data-mean) / std

In [17]:
# Making Base Model
from tensorflow.keras import models
from tensorflow.keras import layers

model = models.Sequential()
model.add(layers.Dense(16, activation='relu', input_shape = (train_data.shape[1],)))
model.add(layers.Dropout(0.2))
model.add(layers.Dense(12, activation='relu'))
model.add(layers.Dropout(0.2))
model.add(layers.Dense(10, activation = 'relu'))
model.add(layers.Dense(8, activation='relu'))
model.add(layers.Dropout(0.2))
model.add(layers.Dense(6, activation='relu'))
model.add(layers.Dense(1, activation='sigmoid'))

In [18]:
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 16)                544
_________________________________________________________________
dropout_3 (Dropout)          (None, 16)                0
_________________________________________________________________
dense_7 (Dense)              (None, 12)                204
_________________________________________________________________
dropout_4 (Dropout)          (None, 12)                0
_________________________________________________________________
dense_8 (Dense)              (None, 10)                130
_________________________________________________________________
dense_9 (Dense)              (None, 8)                 88
_________________________________________________________________
dropout_5 (Dropout)          (None, 8)                 0
_________________________________________________________________
dense_10 (Dense)             (None, 6)                 54
_________________________________________________________________
dense_11 (Dense)             (None, 1)                 7
=================================================================
Total params: 1,027
Trainable params: 1,027
Non-trainable params: 0
_________________________________________________________________

In [19]:
# Fitting Model On 100 Epochs
history = model.fit(train_data, train_labels, epochs = 40, batch_size = 8)

Epoch 1/40
27/27 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.4312
Epoch 2/40
27/27 [==============================] - 0s 2ms/step - loss: 0.6741 - accuracy: 0.7280
Epoch 3/40
27/27 [==============================] - 0s 2ms/step - loss: 0.6715 - accuracy: 0.7099
Epoch 4/40
27/27 [==============================] - 0s 2ms/step - loss: 0.6564 - accuracy: 0.7168
Epoch 5/40
27/27 [==============================] - 0s 1ms/step - loss: 0.6432 - accuracy: 0.7566
Epoch 6/40
27/27 [==============================] - 0s 2ms/step - loss: 0.6016 - accuracy: 0.8488
Epoch 7/40
27/27 [==============================] - 0s 2ms/step - loss: 0.5636 - accuracy: 0.8847
Epoch 8/40
27/27 [==============================] - 0s 2ms/step - loss: 0.5347 - accuracy: 0.8988
Epoch 9/40
27/27 [==============================] - 0s 2ms/step - loss: 0.5046 - accuracy: 0.8687
Epoch 10/40
27/27 [==============================] - 0s 2ms/step - loss: 0.4328 - accuracy: 0.8740
Epoch 11/40
27/27 [==============================] - 0s 2ms/step - loss: 0.3847 - accuracy: 0.9330
Epoch 12/40
27/27 [==============================] - 0s 2ms/step - loss: 0.3640 - accuracy: 0.9277
Epoch 13/40
27/27 [==============================] - 0s 2ms/step - loss: 0.3454 - accuracy: 0.8903
Epoch 14/40
27/27 [==============================] - 0s 2ms/step - loss: 0.2997 - accuracy: 0.9369
Epoch 15/40
27/27 [==============================] - 0s 2ms/step - loss: 0.3083 - accuracy: 0.8903
Epoch 16/40
27/27 [==============================] - 0s 2ms/step - loss: 0.3227 - accuracy: 0.8972
Epoch 17/40
27/27 [==============================] - 0s 2ms/step - loss: 0.1938 - accuracy: 0.9540
Epoch 18/40
27/27 [==============================] - 0s 2ms/step - loss: 0.2543 - accuracy: 0.9145
Epoch 19/40
27/27 [==============================] - 0s 2ms/step - loss: 0.1894 - accuracy: 0.9680
Epoch 20/40
27/27 [==============================] - 0s 2ms/step - loss: 0.2117 - accuracy: 0.9329
Epoch 21/40
27/27 [==============================] - 0s 2ms/step - loss: 0.2504 - accuracy: 0.9236
Epoch 22/40
27/27 [==============================] - 0s 2ms/step - loss: 0.2626 - accuracy: 0.8995
Epoch 23/40
27/27 [==============================] - 0s 2ms/step - loss: 0.1886 - accuracy: 0.9444
Epoch 24/40
27/27 [==============================] - 0s 2ms/step - loss: 0.2018 - accuracy: 0.9313
Epoch 25/40
27/27 [==============================] - 0s 2ms/step - loss: 0.1846 - accuracy: 0.9438
Epoch 26/40
27/27 [==============================] - 0s 2ms/step - loss: 0.1532 - accuracy: 0.9496
Epoch 27/40
27/27 [==============================] - 0s 2ms/step - loss: 0.1459 - accuracy: 0.9335
Epoch 28/40
27/27 [==============================] - 0s 2ms/step - loss: 0.1162 - accuracy: 0.9746
Epoch 29/40
27/27 [==============================] - 0s 3ms/step - loss: 0.1831 - accuracy: 0.9516
Epoch 30/40
27/27 [==============================] - 0s 2ms/step - loss: 0.1833 - accuracy: 0.9221
Epoch 31/40
27/27 [==============================] - 0s 2ms/step - loss: 0.1192 - accuracy: 0.9671
Epoch 32/40
27/27 [==============================] - 0s 2ms/step - loss: 0.1519 - accuracy: 0.9538
Epoch 33/40
27/27 [==============================] - 0s 2ms/step - loss: 0.1603 - accuracy: 0.9651
Epoch 34/40
27/27 [==============================] - 0s 2ms/step - loss: 0.1073 - accuracy: 0.9616
Epoch 35/40
27/27 [==============================] - 0s 1ms/step - loss: 0.1779 - accuracy: 0.9282
Epoch 36/40
27/27 [==============================] - 0s 2ms/step - loss: 0.1111 - accuracy: 0.9747
Epoch 37/40
27/27 [==============================] - 0s 2ms/step - loss: 0.2237 - accuracy: 0.9159
Epoch 38/40
27/27 [==============================] - 0s 2ms/step - loss: 0.1192 - accuracy: 0.9619
Epoch 39/40
27/27 [==============================] - 0s 2ms/step - loss: 0.1044 - accuracy: 0.9735
Epoch 40/40
27/27 [==============================] - 0s 2ms/step - loss: 0.1221 - accuracy: 0.9730

In [20]:
model.evaluate(test_data, test_labels)

5/5 [==============================] - 0s 3ms/step - loss: 0.1252 - accuracy: 0.9504

[0.12523368000984192, 0.9503546357154846]